*{
    margin:0;
    padding: 0;
    background-color: plum;
}


.DiceBox{
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.DiceBox button { 
   width : 50em;
   padding: 1.5em;
   border: 0px;
   border-radius: 10px;
    margin-top: 3em;
    color: orange;
    background-color: slateblue;
    font-size: 20px;
    align-self: center;
}

.DiceBox button:hover{
    background-color: darkslateblue;
    cursor: pointer;
}

.Dices{
    display: flex;
    justify-content: center;
    align-content: center;

}

.Die{
    font-size: 10em;
    color: slateblue;
    padding: 0.25em;
    
}

.shaking {
    animation-name: wobble;
    animation-duration: 1s;
  }
  
  @keyframes wobble {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    15% {
      transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
  
    30% {
      transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
  
    45% {
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
  
    60% {
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
  
    75% {
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }